
.header{

    position: relative;
   
    height: 95vh;
    background-image: linear-gradient( to right bottom,rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
   
     &__logo-box{
       position: absolute;
       top: 4rem;
       left: 4rem;
    }
     &__logo{
       height: 4rem;    
    }
     &__text-box{
       top: 45%;
       left: 50%;
       position: absolute;
       transform: translate(-50%,-50%);
       text-align: center;
   }
   
   }
   
   .heading-primary{
       text-transform: uppercase;
       color: $color-white;
       &--main{
           display: block;
           letter-spacing: 4rem;
           font-weight: 40rem;
           font-size: 6rem;
           animation: moveinleft;
           animation-duration: 2s;
       }
       &--sub{
           display: block;
         
           font-size: 2rem;
           letter-spacing: 1.5rem;
        
           font-weight: 70rem;
           animation: moveinright;
           animation-duration: 2s;
       }
   }
   .heading-secondary{
       font-size: 3.5rem;
       text-transform: uppercase;
       font-weight: 700;
       background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
       display: inline-block;
       -webkit-background-clip: text;
       color: transparent;
       letter-spacing: .2rem;
       transition: all .2s;

       &:hover{
           transform: skewY(2deg) skewX(15deg) scale(1.1);
           text-shadow: .5rem 1rem 3rem rgba($color-primary-light,.2);
       }
   }
   .section-about{
       background-color: $color-grey-light-1;
       padding: 25rem 0;
       margin-top: -20vh;
       color: black;
       
      }

   .heading-tertiary{
       font-size: 1.6rem;
       font-weight: 700;
       text-transform: uppercase;
   }
   .pragraph{
       font-size: 1.6rem;
       &:not(:last-child){
     margin-bottom: 3rem;
       }
   }
   .section-features{
       padding: 35rem 0;
       background-image: linear-gradient( to right bottom,rgba($color-primary-light, 0.8),
       rgba($color-primary-dark, 0.8)),
       url(../img/nat-4.jpg);
       background-size: cover;
       margin-top: -10rem;

       clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
   }
     .section-tours{
         background-color: $color-grey-light-1;
        //  margin-top: ;
        padding: 25rem 0 0rem 0;
        margin-top: -10rem;
     }
   .section-stories{
       padding: 12rem 0;
    //    background-color: $color-grey-light-1;
       position: relative;
       margin-top: 10rem;
   }
   
   
   